<!-- hello from our template file -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <header>
      <h2>
        <a href="/"> Our Wonderful App </a>
      </h2>
      <nav>
        <a href="#"
          ><b><i>Log In</i></b></a
        >
      </nav>
    </header>

    <main>
      <fieldset>
        <legend>Create an account</legend>
        <label for="UserName"><small>Username</small></label>
        <input type="text" id="UserName" name="UserName" autocomplete="off" />

        <label for="PassWord"><small>Password</small></label>
        <input type="text" id="PassWord" name="PassWord" autocomplete="off" />
        <br />

        <button><i>Sign Up</i></button>
      </fieldset>
    </main>

    <footer>
      <small>&copy;Our Wonderful App</small>
    </footer>
  </body>
</html>
